.container{
    background-color: white;
}
.header-1{
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.header-2{
    background-color: white;
    color:lightgray;
    text-align: right;
    text-decoration: none;
    padding-top: 5px;
    font-size: 20px;
}
.bio{
    line-height: 28px;
}
hr{
    color: darkgray;
}
img{
    float: left;
    margin-right: 10px;
}
.aboutMe{
    color: #4aaaa5;
}
.footer{
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    background-color: darkgray;
    text-align: center;
    color: white;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 9px;
}