.header-1{
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.header-2{
    background-color: white;
    color:lightgray;
    text-align: right;
    text-decoration: none;
    padding-top: 5px;
    font-size: 20px;
}
a{
    color: lightgray;
}
a:hover,a:active{
    color: #4aaaa5;
    text-decoration: none;
}
.contact{
    color: #4aaaa5;
}
body{
    background-color: lightgray;
}
input{
    width: 100%;
}
.mess{
    height: 200px;
}
.footer{
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    background-color: darkgray;
    text-align: center;
    color: white;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 9px;
}